* {
	-webkit-user-select: none;
	-moz-user-select: none;     
	-ms-user-select: none;     
	user-select: none;   
}

body {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	color: #f7f7f7;
	background: #171717;
	font-size: 1.0937vmax;
	line-height: 1.875vmax;
}

h1 {
	margin: 0;
	font-size: 1.444vmax;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	transition-property: filter, opacity;
	transition-property: opacity, -webkit-filter;
	-webkit-transition-property: opacity, -webkit-filter;
	-o-transition-property: filter, opacity;
	transition-property: filter, opacity, -webkit-filter;
	transition-timing-function: cubic-bezier(.5,.07,.77,1);
	-webkit-transition-timing-function: cubic-bezier(.5,.07,.77,1);
	-o-transition-timing-function: cubic-bezier(.5,.07,.77,1);
	-webkit-transition-duration: 500ms; 
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}

a:hover {
	filter: blur(0.3645vmax);
	-webkit-filter: blur(0.3645vmax);
	opacity: .7;
}

header {
	position: fixed;
	height: 10.277vh;
	width: 100%;
	padding: 0 9.5306vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: #f7f7f7;
	z-index: 777;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	font-size: 1.4062vmax;
	letter-spacing: .1059vmax;
	padding: 0 18.802vw;
	z-index: 666;
	transition: opacity ease-in-out 444ms;
	-webkit-transition: opacity ease-in-out 444ms;
	-o-transition: opacity ease-in-out 444ms;
	opacity: 0;
	visibility: hidden;
}

nav a {
	opacity: 0;
}

nav.is-vision {
	opacity: 1;
	visibility: visible;
}

nav.is-vision a {
	opacity: 1;
	animation-timing-function: cubic-bezier(.5,.07,.77,1);
	animation-duration: 1000ms;
	animation-name: is-vision;
}

.dark {
	color: #f7f7f7;
	background: #171717;
}

.dark svg {
	fill: #f7f7f7
}

#logo svg, #menu-icon {
	height: 1.0937vmax;
}

#menu-icon {
	transition-property: opacity, transform;
	-webkit-transition-property: opacity, transform;
	-o-transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(.5,.07,.77,1);
	-webkit-transition-timing-function: cubic-bezier(.5,.07,.77,1);
	-o-transition-timing-function: cubic-bezier(.5,.07,.77,1);
	-webkit-transition-duration: 200ms; 
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
}

#menu-icon:hover {
	transform: rotate(-17deg);
	-webkit-transform: rotate(-17deg);
	-ms-transform: rotate(-17deg);
}

#menu-icon.close-icon{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

#home-title {
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	padding-top: 10.277vh;
	height: 79.5vh;
	width: 39.125vmax;
	margin: 0 auto;
	font-size: 1.4062vmax;
	letter-spacing: .1059vmax;
}

#contact a:nth-last-child(-n+2) {
	color: #ffe1e1;
	display: block;
}

#contact a:nth-last-child(2) {
	margin-top: 1.0937vmax;
} 

#contact a:last-child {
	margin-bottom: 7.77vmax;
} 

@keyframes is-vision {
	0% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		opacity: 1;
		filter: blur(0);
		-webkit-filter: blur(0);
	}

	15% {
		transform: translateY(1.1440vmax);
		-webkit-transform: translateY(1.1440vmax);
		-ms-transform: translateY(1.1440vmax);
		opacity: 0;
		filter: blur(0.3645vmax);
		-webkit-filter: blur(0.3645vmax);
	}

	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		opacity: 1;
		filter: blur(0);
		-webkit-filter: blur(0);
	}
}

@media (max-width: 768px) {
	body {
		font-size: 1.666vmax;
		line-height: 2.999vmax;
	}
	#logo svg, #menu-icon {
		height: 1.7708vmax;
	}
	nav {
		flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		font-size: 2.2752vmax;
		line-height: 5.688vmax;
	}
	#home-title {
		flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		justify-content: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		font-size: 2.2752vmax;
		line-height: 3.8107vmax;
	}
}