@font-face {
	font-family: Avenir;
	src: url('./fonts/Avenir-Light.eot');
	src: local('./fonts/Avenir Light'), local('./fonts/Avenir-Light'),
		url('./fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Avenir-Light.woff2') format('woff2'),
		url('./fonts/Avenir-Light.woff') format('woff'),
		url('./fonts/Avenir-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--bg: #ffffff;
	--mc: #cccccc;
	--c: #131313;
	--gap: 23px;
	--fz: 21px;
	--lh: 32px;
}

*,
*::before,
*::after {
	font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI',
	  Roboto, 'Helvetica Neue', Arial, sans-serif;;
	font-size: var(--fz);
	color: var(--c);
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
	background: var(--bg);
}

a,
p {
	line-height: var(--lh);
}

body::before,
body::after,
section::before,
section,
header,
footer,
main {
	position: fixed;
}

body::before,
body::after,
section::before {
	content: '';
	background: inherit;
	z-index: 888;
	top: 0;
}

body::before,
body::after {
	width: var(--gap);
	bottom: 0;
}

body::after {
	right: 0;
}

header,
footer,
section {
	padding: 0 var(--gap);
}

header {
	z-index: 555;
}

footer {
	z-index: 777;
}

header,
footer,
h2 {
	height: calc(var(--gap)*4);
	line-height: calc(var(--gap)*4);
	background: inherit;
}

footer *:not(:last-child) {
	margin-right: calc(var(--gap)/2);
}

body::before,
section::before,
header,
footer,
section,
main {
	left: 0;
	right: 0;
}

header,
span,
main,
section {
	top: 0;
}

article {
	max-width: calc(var(--fz)*21);
}

article p:not(:last-child) {
	margin-bottom: calc(var(--lh)/1.618);
}

mark {
	background: transparent;
	border-bottom: 1px solid var(--mc);
}

section,
footer {
	bottom: 0;
}

main {
	padding: calc(var(--gap)*4) 0 calc(var(--gap)*4) var(--gap);
	height: 100vh;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-size: 0;
}

main::-webkit-scrollbar {
	display: none;
}

section::before {
	height: var(--gap);
}

section {
	min-height: auto;
	background: inherit;
	z-index: 666;
	overflow-y: auto;
	-webkit-transition: opacity 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
	transition: opacity 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
	transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
	transition: opacity 400ms ease-in-out, transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
	-webkit-transform: translate3d(0, var(--gap), 0);
	transform: translate3d(0, var(--gap), 0);
	padding-bottom: calc(var(--gap)*4);
	pointer-events: none;
	opacity: 0;
}

figure {
	position: relative;
	display: inline-block;
	margin-right: var(--gap);
	background: var(--c);
	height: 100%;
}

img {
	display: block;
	height: inherit;
}

img.loaded, header, footer {
	animation: show 300ms ease-in-out;
	-webkit-animation: show 300ms ease-in-out;
	-moz-animation: show 300ms ease-in-out;
	-o-animation: show 300ms ease-in-out;
}

figure:hover figcaption {
	opacity: 1;
	pointer-events: initial;
}

figcaption {
	position: absolute;
	left: var(--gap);
	bottom: var(--gap);
	pointer-events: none;
	opacity: 0;
}

figcaption a {
	display: block;
	color: var(--bg);
	line-height: var(--lh);
}

button {
	background: transparent;
	cursor: pointer;
}

body[prices] section {
	opacity: 1;
	pointer-events: all;
	-webkit-transform: initial;
	transform: initial
}

a,
img,
button,
figcaption {
	transition: opacity 300ms ease-in-out;
	-webkit-transition: opacity 300ms ease-in-out;
}

a:hover,
button:hover {
	opacity: .5;
}

@keyframes show {
	from { opacity: 0 }
	to { opacity: 1 }
}

@media (max-width: 480px) {
	:root {
		--gap: 14px;
		--fz: 18px;
		--lh: 30px;
	}
	body::before,
	body::after {
		display: none;
	}
	main {
		width: 100%;
		padding: calc(var(--gap)*4) var(--gap) calc(var(--gap)*4) var(--gap);
		white-space: normal;
		overflow-x: auto;
		overflow-y: auto;
	}
	figure {
		display: block;
		margin-right: 0;
		height: auto;
		width: 100%;
	}
	figure:not(:last-child) {
		margin-bottom: var(--gap);
	}
	img {
		width: 100%;
	}
	article {
		max-width: none;
	}
}