@font-face {
  font-family: "lazarus";
  src: url("./fonts/lazarus.eot");
  src: url("./fonts/lazarus.eot?#iefix") format("embedded-opentype"),
    url("./fonts/lazarus.otf") format("opentype"),
    url("./fonts/lazarus.svg") format("svg"),
    url("./fonts/lazarus.ttf") format("truetype"),
    url("./fonts/lazarus.woff") format("woff"),
    url("./fonts/lazarus.woff2") format("woff2");
}

body {
	font-family: lazarus;
	overflow: hidden;
}

a, body, img, h1, h2, figure, p {
	-webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	margin: 0;
}

header, span {
	height: 80px;
	line-height: 80px;
}

header {
	padding: 0 40px;
}

main {
	width: 100%;
	height: calc(100vh - 80px);
	padding: 0 40px 40px 40px;
    overflow-x: hidden;
    white-space: nowrap;
}

header, main, section {
	box-sizing: border-box;
}

figure {
	display: inline-block;
	position: relative;
	height: 100%;
	width: calc(100vh - 120px);
	margin-right: 40px;
	margin-left: -4px;
	margin-bottom: -6px;
	background: black;
	cursor: pointer;
}

figure:first-child {
	margin-left: 0;
}

figure:last-child {
	margin-right: 0;
}

img {
	display: block;
	height: 100%;
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
	transition: opacity 300ms ease-in-out;
}

figcaption {
	position: absolute;
	bottom: 15px;
	left: 20px;
	display: none;
}

figcaption a {
	font-size: 12px;
	line-height: 17px;
	display: block;
}

h1, h2, a, p {
	font-size: 18px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

nav {
	float: right;
}

nav a {
	color: black;
	margin-right: 15px;
}

h1, h2 {
	float: left;
}

nav a:last-child {
	margin-right: 0;
}

a:hover {
	opacity: .5;
}

img.loaded, header, figcaption, section {
	-webkit-animation: show 300ms ease-in-out;
	-moz-animation: show 300ms ease-in-out;
	-o-animation: show 300ms ease-in-out;
	animation: show 300ms ease-in-out;
}

section {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1440;
	padding: 0 40px 40px 40px;
	display: none;
	overflow: auto;
	color: white;
	background: black;
	-webkit-overflow-scrolling: touch;
}

span, div {
	width: 50%;
	margin-left: 50%;
}

span {
	display: block;
}

div {
	max-width: 55ch;
}

span a {
	float: right;
}

span * {
	opacity: .5
}

span a:hover {
	opacity: 1
}

p {
	line-height: 30px;
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}

mark {
	background: transparent;
    color: white;
    opacity: .5;
}

@keyframes show {
	from { opacity: 0 }
	to { opacity: 1 }
}

@media (max-width: 909px) {
	body {
		overflow: auto;
	}

	h1 {
		line-height: 18px;
	}

	nav {
		line-height: 0;
	}

	h1, nav {
		width: 100%;
		text-align: justify;
		-webkit-text-align-last: justify;
		-moz-text-align-last: justify;
  		text-align-last: justify;
  		z-index: 999;
	}

	h1:after, nav:after {
		content: "";
		display: inline-block;
		width: 100%;
	}

	nav a {
		margin: 0;
	}

	header {
		padding: 20px;
	}

	main {
		width: 100%;
		padding: 0 20px;
		height: auto;
	}

	figure {
		width: 100%;
		display: block;
		margin: 0 0 20px 0;
	}

	figure:last-child {
		border-right: none;
	}

	main:after,
	main:before {
		content: "";
		position: fixed;
		left: 0;
		right: 0;
		height: 20px;
		background: white;
		z-index: 777;
	}
	
	main:after {
		top: 0;
	}

	main:before {
		bottom: 0;
	}

	section {
		padding: 0 20px 20px 20px;
	}

	span, div {
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	h1, h2, a, p {
		font-size: 15px;
	}

	p {
		line-height: 25px;
		margin-bottom: 17px;
	}
}

@media (max-width: 360px) {
	body {
		min-width: 320px;
	}

	h1, h2, a, p {
		font-size: 13px;
	}

	p {
		line-height: 22px;
		margin-bottom: 15px;
	}
}