@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body
{
	margin: 0;
	font-size: 18px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	/*ffcc28*/
}

h1
{
	font-size: 18px;
	font-weight: 500;
}

a
{
	text-decoration: none;
	color: #fff;
}

header
{
	height: 77px;
	width: 100%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	z-index: 77;
}

#logo
{
	margin-left: 44px;
	text-align: center;
}

header a:first-child
{
	opacity: .33;
	margin: 0 33px;
}

header a:last-child
{
	margin-right: 33px;
	color: #191919;
	background: #ffcc28;
	padding: 11px 22px;
	border-radius: 22px;
	box-shadow: 0 7px 22px rgba(25, 25, 25, .22);
}

header a img
{
	height: 33px;
	width: 33px;
}

#before
{
	width: 100%;
	height: calc(100vh - 55px);
	background: #191919 url(../img/before.png) no-repeat center center;
	background-size: cover;
}

#after
{
	width: 500px;
	overflow: hidden;
}

#after-img
{
	width: 100vw;
	height: calc(100vh - 55px);
	background: #191919 url(../img/after.png) no-repeat center center;
	background-size: cover;
}


footer
{
	height: 55px;
	background: #191919;
	display: flex;
	align-items: center;
	text-align: center;
}

footer a
{
	width: 100%;
}

@media (max-width: 768px) {
	header a:first-child
	{
		display: none;
	}
	#logo
	{
		text-align: left;
		font-size: 16px;
	}
	footer
	{
		font-size: 14px;
	}
}