*{ 
	margin: 0; 
	padding: 0;
}

body{
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	color: #171717;
	background: #fff;
}

img {
	pointer-events: none;
	user-select: none;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
}

h1{
	font-size: 18px; 
	font-weight: bold; 
	font-style: normal; 
}

h3{
	font-size: 12px; 
	font-weight: normal; 
	font-style: normal; 
}

p{
	line-height: 1.6; 
	font-style: italic; 
	font-weight: lighter;
}

a{
	text-decoration: none;
	font-style: normal; 
	color: #171717; 
}

nav {
	width: 100%;
	height: 80px; 
	line-height: 80px;
	text-align: center;
}

.menu-icon{
	position: fixed;
	top: 27px;
	left: 17px;
	background: url(../img/menu.svg) no-repeat;
	background-position: center center;
	padding: 13px;
	width: 26px;
	display: none;
	cursor: pointer;
	z-index: 777;
	transition: transform 200ms ease-in-out;
}

.close-menu{
	transform: rotate(45deg);
}

nav a{ 
	margin: 0 14px;
	transition: border 200ms ease-in-out;
}

nav a:hover { 
	text-decoration: underline;
}

.display-none {
	display: none;
}

#header #contact_icon:hover{
	box-shadow: none;
}

#main_title{
	width: 100%;
	height: 177px;
	background: url(../img/title_bg.jpg) no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}

.container{
	padding: 15px 0 20px 0;
	width: 320px;
	margin: auto;
}

.news{
	padding: 11px;
	text-align: center;
	position: relative;
	margin-top: 24px;
	display: block;
	transition-property: border, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 200ms;
	border: solid 1px #efefef;
}

.news:hover{ 
	border: solid 1px #ffffff;
	transform: scale(1.07);
}

.main-title {
	font-size: 18px;
	font-weight: 300;
	background: #efefef;
	border: none;
	transition-property: background, color;
}

.main-title:hover {
	background: #da1703;
	color: #ffffff;
	border: none;
	transform: none;
}

.news p{ 
	width: 280px; 
	font-size: 14px; 
}

.news img{  
	width: 100%;
	margin-top: 21px;
}

#footer{
	margin: 0 auto;
	width: 300px;
	height: 80px;
	padding: 26px 0;
}

#footer{
	text-align: center;
}

#footer a{
	margin-right: 10px;
	font-size: 14px;
	opacity: .7;
	transition: opacity 0.5s ease; 
}

#footer a:hover{ 
	opacity: 1; 
}

.clear-both{
	clear: both;
}

.wrapper{
	min-height: calc(100vh - 212px);
}

#paragraphs {
	width: 320px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
}

#paragraphs p{
	margin: auto;
	max-width: 290px;
	padding: 0 6px 12px 6px;
	font-size: 16px;
}

#paragraphs p:last-child{
	padding-bottom: 0;
}

#paragraphs img {
	width: 100%;
}

.content{ 
	width: 61%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	margin: auto; 
}

.work{
	width: 47%;
	min-width: 300px;
	position: relative;
	overflow: hidden; 
	margin: 24px 0;
	text-align: center; 
	color: #fffcfc; 
}

.work img{
	display: block;
	width: 100%;
}

.overlay{ 
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute; 
	opacity: 0;
	top: 0; right:0; bottom: 0; left: 0; 
	background: #171717; 
	opacity: 0; transition: all .25s ease;
}

.work h1{ 
	font-size: 16px; 
}

.work p{ 
	font-size: 14px;  
	width: 228px;
	margin-top: 8px;
}

.work:hover .overlay{ 
	opacity: 1; 
}

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#contactBox{
	width: 320px;
	padding-bottom: 57px;
	text-align: center;
}

#contactBox h2{
	font-size: 16px;
	letter-spacing: normal;
	margin-bottom: 16px;
}

#contactBox p{
	margin-bottom: 8px;
	font-size: 14px;
}

.social {
	padding-top: 5px;
}

.social a{
	margin: 0 3px;
}

.social a img{
	height: 24px;
}

#contactForm{
	width: 444px;	
	font-size: 14px;
}

#contactForm input:nth-child(-n+2){
	height: 36px;	
	border: none;
	outline: none;
	width: calc(50% - 15px);
	box-sizing: border-box;
	padding-left: 15px;
	margin-bottom: 30px;
	margin-left: 15px;	
	float: left;
	box-shadow: 0 0 21px rgba(0, 0, 0, .17);
	transition: box-shadow .5s ease-in-out;
}

#contactForm input[type=submit]{
	display: block;
	margin: 0 auto;
	height: 36px;	
	border: none;
	outline: none;
	width: 120px;
	color: #fff;
	box-shadow: 0 0 21px rgba(0, 0, 0, .17);
	background: #000;
	transition: all .25s ease-in-out;
	border: 1px solid #000;
}

#contactForm input[type=submit]:hover{
	color: #000;
	box-shadow: 0 0 21px rgba(0, 0, 0, .17);
	background: transparent;
}

#contactForm input:focus,
#contactForm input:focus{
	box-shadow: 0 0 48px rgba(0, 0, 0, .21);
	overflow: hidden;
}

#contactForm textarea:focus{
	box-shadow: 0 0 48px rgba(0, 0, 0, .21);
}

#contactForm input:first-child{
	margin-left: 0;	
}

#contactForm input:nth-child(2){
	float: right;
}

#contactForm input:nth-child(3){
	margin: 0 auto;
}

#contactForm textarea{
	margin-bottom: 30px;
	padding: 15px;
	height: 80px;
	border: none;
	outline: none;
	resize: none;
	flex: 2;
	width: 100%;
	display: block;
	box-shadow: 0 0 21px rgba(0, 0, 0, .17);
	transition: box-shadow .5s ease-in-out;
	box-sizing: border-box;
}

#music {
	width: 61%;
	min-height: 320px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 4vmax auto;
}

.artist {
	display: block;
	width: 23%;
	margin: 1% 0;
}

.artist img {
	width: 100%;
	display: block;
}















.calc-area {
	width: 100%;
	min-height: calc(100vh - 212px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.calc{
	width: 220px;
	padding: 24px 0;
	margin: 0 auto;
}

.calc p{
	font-style: normal;
	text-align: center;
}

.calc input{
	height: 40px;
	width: 216px;
	text-align: center;
	padding: 0;
	outline: none;
}

.calc .submit{
	text-align: center;
	line-height: 50px;
	width: 220px;
	height: 50px;
	border: none;
	background: #171717;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	transition: all 0.25s ease;
}

.calc .submit:hover{
	background: #eee;
	color: #171717;
}

.calc .out{
	height: 80px;
	line-height: 80px;
	width: 220px;
}

@media (max-width: 960px){

	#main_title{
		margin-top: 80px;
	}

	nav{
		z-index: 76;
		transition: all 0.35s;
	 	position: fixed;
	 	top: 0;
	 	left: 0;
		display: block;
		width: 100%;
		height: 100vmax;
		display: none;
		background: #fff;
		padding-top: 80px;
	}
	
	nav a{
		line-height: 40px;
		padding: 0;
		display: block;
		text-align: center;
	}
	
	.is-open {
		display: block;
	}

	.menu-icon{
		display: block;
	}

	#paragraphs {
		margin-top: 80px;
		border-top: none;
	}
	
	.content { 
		width: 100%;
		margin: 80px auto;
	}
	.contact {
		padding-top: 80px;
		flex-direction: column;
	}
	#contactBox{
		display: block;
		left: 0;
		width: 100%;
	}

	#contactBox h2{
		display: none;
	}

	#contactBox #hiddenP{
		display: none;
	}

	#contactForm{
		width: 80%;	
		font-size: 14px;
	}

	#contactForm input{
		float: none;
		width: 100%;
	}

	#contactForm input:nth-child(-n+2){
		width: 100%;
		padding-left: 15px;
	}

	#music {
		width: 100%;
		min-height: 320px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin: 4vmax auto;
		padding-top: 80px;
	}

	.artist {
		display: block;
		width: 32%;
		margin: 1% 0;
	}

	.artist img {
		width: 100%;
		display: block;
	}

	.calc-area {
		padding-top: 80px;
	}
}

@media (max-width: 400px){

	nav a{
		line-height: 40px;
		padding: 0;
		display: block;
		text-align: center;
	}

	.container {
		width: 80%;
	}

	.news p {
		width: 95%;
	}
	
	footer {
		width: 80%;
	}
}


